/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 mar. 2023, 17:18:11
    Author     : maripazfonseca
*/

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

h1 {
	font-size: 36px;
	margin: 0;
}

main {
	margin: 50px;
}

h2 {
	font-size: 24px;
	margin-top: 0;
}

article {
	border: 1px solid #ccc;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

img {
	max-width: 100%;
}

h3 {
	font-size: 18px;
	margin-top: 0;
}

p {
	margin: 10px 0;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
}
